/* styles.css */

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(243, 28, 207,0.2);
    color: white;
    text-align: center;
    padding: 20px 0;
}


header {
    background-color: rgb(225, 35, 190,0.8);
    color: rgb(250, 250, 246);
    padding: 20px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: rgb(238, 120, 17);
    text-decoration: none;
}

.category-section {
    padding: 20px;
    text-align: center;
}

h2 {
    color: #7fc376;
    margin-bottom: 10px;
}

.product-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.product-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-card h3 {
    margin-top: 10px;
    color: #444;
}

.product-card .price {
    font-size: 18px;
    color: #ff6347;
    margin: 10px 0;
}

.product-card button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-card button:hover {
    background-color: #218838;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
